.card__body {
  margin-top: var(--spacer);
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.card__attrs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__attrs > * {
  display: flex;
  align-items: center;
  gap: calc(var(--spacer) / 3);
}
