.card__header {
  position: relative;
  cursor: pointer;
}

.card__header:hover .card__overlay {
  opacity: 1;
}

.card__cover {
  width: 100%;
  border-radius: calc(var(--spacer) / 2);
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: var(--color-accent-half);
  border-radius: calc(var(--spacer) / 2);
  opacity: 0;
  transition: opacity 0.1s ease;
}
